.container {
    position: relative;
    text-align: center;
    color: white;
  }
.footsteps {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-52%, -50%);
  }
  #footsteps{
      margin-top: 20px;
      width: 100%;
      height: 100%;
      margin-bottom: 20px;
  }
  .footsteps{
      font-size: 32px;
      /* font-weight: bold; */
  }
  #amazing{
      font-size: 10px;
  }
  .mouseclick{
    position: absolute;
    top: 92%;
    left: 50%;
    transform: translate(-92%, -50%);
  }
  .aboutus{
      text-align: center;
      font-size: 14px;
      color: black;
  }
