body{
    font-family: 'Peddana', cursive;
}
.hero-container{
    background-image: url(../images/first_image.jpg);
    height: 657px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero-content{
    padding-top:183px;
}

.call-to-action {
    padding-top: 168px;
}
.portfolio-container{
    width: 82%;
    margin: auto;
}

.portfolio-card{
    margin-bottom: 20px;
    position: relative;
}


.portfolio-card-image{
    width: 100%;
}

.portfolio-card-content{
    display: none;
    
    color: #ffffff;
    position: absolute;
    top: 1px;
    left: 30px;
}
.test-paragraph{
    font-size: 14px;
}


.container {
    position: relative;
    text-align: center;
    color: white;
}
#amazing{
    font-size: 10px;
}
  
.aboutus{
    margin-top: 40px;
    text-align: center;
    font-size: 24px;
    color: black;
    margin-bottom: 40px;
}
h4{
    font-size:24px; 
    font-weight: bold;  
    padding-top: 37px;
    text-align: center;
}
p{
    font-size: 18px;
}
.portfolio-details{
    margin:40px 10px;
    padding: 10px 20px;
    border: solid 5px whitesmoke;
    font-weight: bold;
    font-size: 30px;
}
.services-container{
    background-image: url(../images/second_image.jpg);
    height: 334px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}
.services-content{
    padding-top: 70px;
}
.what-we-do-container{
    color: black;
}
.portfolio-card{
    margin-bottom: 20px;
    position: relative;
}
.we-do-content{
    display: none;
}
.contact-us-content{
    padding-top: 10px;
    padding-bottom: 50px;
}
.what-we-do-container{
    width: 100%;
    margin-top: 40px;
}
.we-do-image{
    width: 70px;
    height: 70px;
}
#what-we-do{
    color: black;
    margin-bottom: 20px;
    position: relative;
}
#portfolio{
    color:black;
}
.contact-us-container{
    background-image: url(../images/third_image.jpg);
    height: 390px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 40px;
    width:100%;
}
.form-ctrl {
    text-align: center;
    position: relative;
    width: 700px;
    max-width: 100%;
    left: 50%;
    transform: translate(-50%);
}
.form-cont input {
    width: 49%;
    background: transparent;
    color: white;
    border-color: white;
    border-width: 1px;
}
.form-cont textarea {
    margin-top: 10px;
    width: 98%;
    background: transparent;
    color: white;
    border-color: white;
    border-width: 1px;
}
.btn{
    background: transparent;
    color: white;
    border-color:white;
}
.btn-primary :hover{
    background-color:white;
    color: black;
}
::placeholder{
    color: white;
}
.socialmedia img:hover {
    background:black;
}
.footer{
    margin-top: 30px;
}
@media screen and (max-width:450px) {
    .form-cont input {
        width: 100%;
        margin-top: 10px;
    }
    body {
        overflow-x: hidden;
    }
}
@media screen and (max-width:1024px) {
    * {
        font-size: calc(1vw + 1vh + .5vmin);
    }
}
